footer {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 20px;
  padding-bottom: 15px;
  padding-top: 20px;
  background-color: rgba(128, 128, 128, 0.146);
  text-align: center;
}
